<h2>My Todo List</h2>

To go back to the users menu click <a href="/">here</a>

<% @items.order(:due_date).each do |item| %>
<p>

<li>

<%=item.description%> - <%=item.due_date%> 


</li>
  <form action = '/delete/<%=item.id%>' method='post'> 

     <input type = 'submit' value='Delete' >

  </form> 





</p>

<%end%>


<form action = '/<%=@user.id%>/new_item' method='post'>
      <strong>New Item:</strong>
      <input type = 'text' name='task' placeholder='task content'/>
       <input type = 'text' name='date' placeholder='due date'/>
        <input type = 'submit' value='Enter'>
</form>





</html>
