<h2>My Todo List</h2>
some edit
<% @lines.each do |line| %>
<% task, date = line.split("-")%>
<p>
<liclass="list">
  <%=task%> - <%=date%>
</li>
</p>
<%end%>

<form action = '/list' method='post'>
      <strong>New Item:</strong>
      <input type = 'text' name='task' placeholder='task content'/>
       <input type = 'text' name='date' placeholder='due date'/>
        <input type = 'submit' value='Enter'>
</form>

</html>
